{% extends "base.html" %}

{% block content %}

          <div class="container">



<h2>Droppoints</h2>
<div class="row">

        {% for droppoints in object_list %}
    <div class="col s3">
 <div class="card">

            <div class="card-content">
                <img class="activator" src="http://vignette1.wikia.nocookie.net/zelda/images/2/23/Pikachu_colored_by_puppet_sasori-d56ia33.png/revision/latest?cb=20130902233824&path-prefix=es" style="width:20%; height:20%">

              <h3 class="activator grey-text text-darken-4">{{ droppoints.name }}<i class="material-icons right">more_vert</i></h3>
                <p>STATUS: {{droppoints.is_available }}</p>


            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Drones<i class="material-icons right">close</i></span>
              <p>Aqui hi haurà informació dels drons que té associat.</p>
                  <a class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">delete</i></a>

            </div>

     </div>
</div>


    <div class="fixed-action-btn" style="bottom: 60px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" href="/droppointform">
      <i class="large material-icons">add</i>
    </a>

  </div>

        {% endfor %}

</div>

{% endblock content %}
