{% extends "base.html" %}


{% block content %}





	<div class="fixed-action-btn" style="top: 60px; right: 25px;">
    	<a class="btn-floating btn-large red">
    	  <i class="large material-icons">perm_media</i>
   		</a>
    <ul>
      <li class="hangars"><a class="btn-floating waves-effect waves-light yellow darken-1"><i class="material-icons">navigation</i></a></li>
      <li class="droppoints"><a class="btn-floating waves-effect waves-light green test"><i class="material-icons">swap_vert</i></a></li>
      <li class="meteostations"><a class="btn-floating  waves-effect waves-lightblue"><i class="material-icons">language</i></a></li>
    </ul>
  </div>
<div id="mapa">
    <div id="map-canvas"></div>
</div>

{% endblock content %}
