{% extends "base.html" %}

{% block content %}
<!--
    <div class="row">
        <form class="col s12" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" name="name" type="text" class="validate teal-text text-darken-3">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="description" name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="latitude" name="latitude" type="number" step="any" class="validate teal-text text-darken-3">
                    <label for="latitude">Latitude</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="longitude" name="longitude" type="number" step="any" class="validate teal-text text-darken-3">
                    <label for="longitude">Longitude</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="altitude" name="altitude" type="number" step="any" min="0" class="validate teal-text text-darken-3">
                    <label for="altitude">Altitude</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="is_available" name="is_available" type="checkbox" class="validate teal-text text-darken-3">
                    <label for="is_available">Availability</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="temperature" name="temperature" type="number" step="any" min="0" class="validate teal-text text-darken-3">
                    <label for="temperature">Temperature</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="wind_speed" name="wind_speed" type="number" step="any" min="0" class="validate teal-text text-darken-3">
                    <label for="wind_speed">Wind Speed</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="style_url" name="style_url" class="browser-default">
                        <option value="" disabled selected>Choose Style</option>
                        {% for x,y in form.fields.style_url.choices %}
                            <option value="{{ x }}" {% if form.fields.style_url.value == x %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                    <a class="material-icons" href="/styleurlform" target="_blank">add</a>
                </div>
            </div>
            <a href="/"><input type="submit" value="Send" class="btn btn-default"/></a>
        </form>
    </div>
-->
    <div class="container">
        <div class="row">
            <form class="col s12" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.name.error }}
                        <label for="name" data-error="wrong" data-success="right">Nom</label>
                        {{ form.name }}
                    </div>
                    <div class="input-field col s6">
                        <input id="is_available" name="is_available" type="checkbox" class="validate teal-text text-darken-3">
                        <label for="is_available">Availability</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <label for="latitude">Latitude</label>
                        {{ form.latitude }}
                    </div>
                    <div class="input-field col s3">
                        {{ form.longitude }}
                        <label for="longitude">Longitude</label>
                    </div>
                    <div class="input-field col s3">
                        {{ form.altitude}}
                        <label for="altitude">Altitude</label>
                    </div>
                    <div class="input-field col s3">
                        {{ form.temperature }}
                        <label for="temperature">Temperature</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {{ form.wind_speed }}
                        <label for="wind_speed">Wind speed</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.style_url }}
                        <a class="material-icons" href="/styleurlform" target="_blank">add</a>
                        <label for="style_url">Style</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="description">Description</label>
                        {{ form.description }}
                    </div>

                    <button class="waves-effect waves-light btn-large" name="action" type="submit">
                        <i class="material-icons right">send</i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
