{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form class="col s12" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" name="name" type="text" class="validate teal-text text-darken-3">
                    <label for="name">Style name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="href" name="href" type="url" class="validate teal-text text-darken-3">
                    <label for="href">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="scale" name="scale" type="number" step="0.01" class="validate teal-text text-darken-3">
                    <label for="scale">Image scale</label>
                </div>
            </div>
            <a href="/"><input type="submit" value="Send" class="btn btn-default"/></a>
        </form>
    </div>
{% endblock content %}
