{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form class="col s12" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <input id="href" type="text" class="validate">
                    <label for="href">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="scale" type="number" step="any" class="validate">
                    <label for="scale">Image scale</label>
                </div>
            </div>
            <a href="/"><input type="submit" value="Send" class="btn btn-default"/></a>
        </form>
    </div>
{% endblock content %}
