{% extends "base_drone.html" %}
{% block content %}

<div style="width: 20%; margin: 0px auto; position: relative; top: 20%;">
    <i class="small material-icons">assignment</i> License plate: {{ drone.plate }} <br>
    <i class="small material-icons">room</i> Origin: {{ drone.origin_lat }}, {{ drone.origin_lon }} <br>
    <i class="small material-icons">room</i> Drop point at: {{ drone.destination_lat }}, {{ drone.destination_lon }} <br>
    <i class="small material-icons">report_problem</i> Emergency: {{ drone.emergency }} <br>
    <i class="small material-icons">settings_power</i> Batterly life: {{ drone.battery_life }}
</div>

{% endblock content %}